/* Optional: Makes the sample page fill the window. */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    padding: 70px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
   

.parent {
    display: flex;
    height: 300px;
}

.child {
  width: 24%;  
  height: 100px;
  margin: auto;  
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item {
  background: white;
  padding: 5px;
  width: 24%;
  margin-top: 10px;
  border-radius: 10px;
  
  color: black;
  font-size: 1em;
  text-align: left;
}

.alert-number {
    font-weight: bold;
    font-size: 2em;
    color: red;
}

.alert-content {
    font-weight: bold;
}

#tab2 {
    height: 100%;
    width: 100%;
}

#map 
{
    height: 600px;
    width: 100%;
}

#regions_div {
    background-color: lightgray;
}

.jumbo {
    padding:20px;
    border-radius:7px;
}

.risk-feed {
    padding: 10px;
    background-color: darkred;
    border-radius: 7px;
}

.risk-feed-title{
    color: white;
    margin-bottom:20px;
}