/* Optional: Makes the sample page fill the window. */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    padding: 70px; 
    font-family: 'Segoe UI' !important
}
   

.parent {
    display: flex;
    height: 300px;
}

.child {
  width: 24%;  
  height: 100px;
  margin: auto;  
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-item {
  background: white;
  padding: 5px;
  width: 24%;
  margin-top: 10px;
  border-radius: 10px;
  
  color: black;
  font-size: 1em;
  text-align: left;
}

.alert-number {
    font-weight: bold;
    font-size: 2em;
    color: red;
}

.alert-content {
    font-weight: bold;
}

#tab2 {
    height: 100%;
    width: 100%;
}

#map 
{
    height: 600px;
    width: 100%;
}

#regions_div {
    background-color: #E0EDEC;
}

.jumbo {
    background-color: #E0EDEC;
    padding:20px;
    border-radius:7px;
}

.risk-feed {
    padding: 20px;
    background-color: #E0EDEC;
    border-radius: 7px;
}

.risk-feed-title{
    color: black;
    margin-bottom:20px;
}

.panel-header {
    background-color:#E0EDEC 

}




/* navbar */
.navbar-default {
    background-color: #E0EDEC;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #999;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #999;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}